body {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

.maincards {
    height: 300px;
    max-height: 900px;
}

.form {
    

}
.inputBox {
    max-width: fit-content;
}

button {
    margin-top: 5px;
    float: inline-start;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#borderHide {
    border-color: white;
}

.cardCol {
    background-color:#e9ecef;
}