body {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

.maincards {
    height: 300px;
    max-height: 900px;
}

.inputBox {
    /* max-width: fit-content; */
    /* max-width: 150px; */
  
}

button {
    margin-top: 5px;
    margin-right: 200px;
    float: inline-start;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#borderHide {
    border-color: white;
}

.cardCol {
    background-color:#e9ecef;
}

.fave {
    background-color: lightblue;
}

.mod {
    background-color: lightgreen;
}

.sev {
    background-color: red;
}