body {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

.maincards {
    height: 300px;
    max-height: 900px;
}

.inputBox {
    /* max-width: fit-content; */
    /* max-width: 150px; */
  
}

button {
    margin-top: 5px;
    margin-right: 200px;
    float: inline-start;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#borderHide {
    border-color: white;
}

.cardCol {
    background-color:#e9ecef;
}

.fave {
    background-color: lightblue;
}

.mod {
    background-color: lightgreen;
}

.sev {
    background-color: red;
}

.nameCard {
    border: 1px solid transparent;
    max-height: 76px !important;
    margin-bottom: 50px;
    margin-top: 10px;
    margin-right: -20px !important;
    margin-left: -20px !important;
    padding: 0px !important
}


#searchBtn {
    margin-left: -10px !important;
}

#searchForm {
    margin-left: -10px !important;
    max-width: unset;
}


@media only screen and (max-width: 800px) {
    .searchName {
      font-size: 18px;
    }
    .nameCard {
        margin-bottom: 20px;
        margin-top: 10px;
        margin-right: -38px !important;
        margin-left: -20px !important;
        padding: 0px !important
    }

  }

@media only screen and (max-width: 400px) {
    .searchName {
        font-size: 15px;
      }

 
    .show {
        margin-top: -49px !important;
    }

}

 


@media only screen and (max-width: 1300px) {
    #searchBtn {
        margin-left: -20px !important;
    }

    #searchForm {
        margin-left: -20px !important;
        max-width: 175px;
    }

    .jumbotron {
        width: 105%;
    }
}  

@media only screen and (max-width: 1000px) {
    #searchBtn {
        margin-left: -20px !important;
    }

    #searchForm {
        margin-left: -20px !important;
        max-width: 100px;
    }
}  

@media only screen and (max-width: 750px) {
    #searchBtn {
        margin-left: -30px !important;
    }

    #searchForm {
        margin-left: -30px !important;
        max-width: 70px;
        margin-top: -40px !important;
    }
 }  